# Expo / React Native
.expo/
.expo-shared/
web-build/

# Metro
.metro-cache/

# Bundlers
*.hbc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
*.swp

# Node
node_modules/
